.download {
  padding: 70px 0;
}
.title-img {
  margin-bottom: 40px;
}
.characteristic {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.characteristic-item {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px;
}
.item-img {
}
.item-description {
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 600;
}
