.gallery {
  padding: 70px 0;
  overflow: hidden;

  @media (min-width: 1440px) {
    padding: 90px 0;
  }
}

.gallery-title-image {
  display: flex;
  justify-content: flex-start;
  padding-left: 12px;
  margin-bottom: 24px;

  @media (min-width: 1440px) {
    padding-left: 82px;
    margin-bottom: 0px;
  }
}

.gallery-swiper-outer {
  position: relative;
  width: 100%;
  max-width: 1304px;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: 1440px) {
    overflow: visible;
  }
}

.gallery-swiper {
  width: 350px;
  height: 500px;
  overflow: visible;
  @media (min-width: 1440px) {
      width: 100%;
      max-width: 1304px;
      height: 720px;
    }

    .swiper-wrapper {
      display: flex;
      align-items: center;
     }
}

.gallery-swiper-slide {

  width: 100% !important;
  height: 466px !important;

  transition: transform 0.4s ease, border-color 0.4s ease;
  border: 2px solid transparent;

  @media (min-width: 1440px) {
    width: 380px !important;
    height: 500px !important;
  }

  picture,
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Активный слайд */
.gallery-swiper-slide.swiper-slide-active {
  border: 2px solid #ff0000;
  z-index: 10;

  @media (min-width: 1440px) {
    transform: scale(1.2) !important;
  }
}

/* Кнопки и точки */
.gallery-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 24px;
    @media (min-width: 1440px) {
        margin-top: 0px;
      }
}

.gallery-prev,
.gallery-next {
  position: static !important;
  width: 30px !important;
  height: 30px !important;
  color: #ff0000 !important;
  cursor: pointer;

  &::after {
    font-size: 24px !important;
  }
}

.gallery-pagination.swiper-pagination {
  position: static !important;
  width: auto !important;
  display: flex;
  gap: 8px;

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #fff;
    opacity: 0.5;
    transition: opacity 0.3s ease;

    &-active {
      opacity: 1;
      background: #ff0000;
    }
  }
}