.secondary-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--black-color);

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 54px;
    @media (min-width:1440px) {
      height: 105px;
      padding-bottom: 30px;
    }

  }
}

.logo-link {
  display: block;
  padding: 5px 0;
  margin: 0 auto 0 0;
  width: 70px;
  height: 54px;

  @media (min-width:1440px) {
    width: 104px;
    height: 80px;
  }
}

.back-link{
  display: block;
  font-family: var(--font-oswald);
  font-weight: 400;
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--white-color);
  transition: color 300ms ease-in-out;

    &:hover {
      color: var(--active-color);
    }

    &:active {
      color: aqua;
    }
    @media (min-width:1440px) {
      font-size: 22px;
      line-height: 1.4;
      letter-spacing: 0.02em;

    }
}


