<section class="contact">
  <div class="container">
    <h2 class="visually-hidden">Contact</h2>
    <div class="box-title">
      <img
        src="../public/img/contact/title-contact-mob.png"
        alt="The concrete letters are caked with zombie blood."
        width="207"
        height="31"
        class="title-section-img"
      />
      <p class="title-contact">Stay connected</p>
      <address class="box-email">
        <span class="title-email">Email:</span>
        <a class="link-email" href="mailto:info@wideprotocol.space"
          >info@wideprotocol.space</a
        >
      </address>
    </div>
    <div class="box-image-background">
      <a
        class="btn-google-play"
        href="https://play.google.com/store/games?hl=uk"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="google-img"
          src="../public/img/GooglePlay.png"
          alt="Logo Google Play"
          width="23"
          height="26"
        />
        <div class="google-box">
          <span class="google-text-up">GET IT ON</span>
          <span class="google-text-down">Google Play</span>
        </div>
      </a>
    </div>
  </div>
</section>
