<section class="download">
  <div class="container">
    <h2 class="visually-hidden">Download</h2>
    <img
      class="title-img"
      src="../public/img/download/title-download-mob.png"
      alt="бетонные буквы с кровью"
    />
    <ul class="characteristic">
      <li class="characteristic-item">
        <img src="" alt="" class="item-img" width="60" height="60" />
        <p class="item-description">You'll be hooked from the first run.</p>
      </li>
      <li class="characteristic-item">
        <img src="" alt="" class="item-img" width="60" height="60" />
        <p class="item-description">Clear progression.</p>
      </li>
      <li class="characteristic-item">
        <img src="" alt="" class="item-img" width="60" height="60" />
        <p class="item-description">Dynamic builds.</p>
      </li>
      <li class="characteristic-item">
        <img src="" alt="" class="item-img" width="60" height="60" />
        <p class="item-description">Improve your skills with each run.</p>
      </li>
      <li class="characteristic-item">
        <img src="" alt="" class="item-img" width="60" height="60" />
        <p class="item-description">Instant gameplay.</p>
      </li>
      <li class="characteristic-item">
        <img src="" alt="" class="item-img" width="60" height="60" />
        <p class="item-description">No waiting — jump straight into action.</p>
      </li>
      <li class="characteristic-item">
        <img src="" alt="" class="item-img" width="60" height="60" />
        <p class="item-description">Experiment with different upgrades.</p>
      </li>
      <li class="characteristic-item">
        <img src="" alt="" class="item-img" width="60" height="60" />
        <p class="item-description">High replay value.</p>
      </li>
      <li class="characteristic-item">
        <img src="" alt="" class="item-img" width="60" height="60" />
        <p class="item-description">
          You can knock out a quick session in just a few minutes, but somehow
          you'll find yourself coming back for hours.
        </p>
      </li>
    </ul>
  </div>
</section>
