<section id="gallery" class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Section Gallery</h2>
  </div>
  <div class="gallery-title-image">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/gallery/title-gallery-desktop.png    1x,
          /img/gallery/title-gallery-desktop@2x.png 2x
        "
      />
      <source
        srcset="
          /img/gallery/title-gallery-mob.png    1x,
          /img/gallery/title-gallery-mob@2x.png 2x
        "
      />
      <img src="/img/gallery/title-gallery-mob.png" alt="Gallery" />
    </picture>
  </div>
  <div class="gallery-swiper-outer">
    <div class="swiper gallery-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide gallery-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/gallery/desktop/sw-gallery-desktop-01.png    1x,
                /img/gallery/desktop/sw-gallery-desktop-01@2x.png 2x
              "
            />
            <source
              srcset="
                /img/gallery/mobile/sw-gallery-mob-01.png    1x,
                /img/gallery/mobile/sw-gallery-mob-01@2x.png 2x
              "
            />
            <img
              src="/img/gallery/mobile/sw-gallery-mob-01.png"
              alt="Gallery Battle 1"
            />
          </picture>
        </div>
        <div class="swiper-slide gallery-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/gallery/desktop/sw-gallery-desktop-02.png    1x,
                /img/gallery/desktop/sw-gallery-desktop-02@2x.png 2x
              "
            />
            <source
              srcset="
                /img/gallery/mobile/sw-gallery-mob-02.png    1x,
                /img/gallery/mobile/sw-gallery-mob-02@2x.png 2x
              "
            />
            <img
              src="/img/gallery/mobile/sw-gallery-mob-02.png"
              alt="Gallery Battle 2"
            />
          </picture>
        </div>
        <div class="swiper-slide gallery-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/gallery/desktop/sw-gallery-desktop-03.png    1x,
                /img/gallery/desktop/sw-gallery-desktop-03@2x.png 2x
              "
            />
            <source
              srcset="
                /img/gallery/mobile/sw-gallery-mob-03.png    1x,
                /img/gallery/mobile/sw-gallery-mob-03@2x.png 2x
              "
            />
            <img
              src="/img/gallery/mobile/sw-gallery-mob-03.png"
              alt="Gallery Battle 3"
            />
          </picture>
        </div>
        <div class="swiper-slide gallery-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/gallery/desktop/sw-gallery-desktop-04.png    1x,
                /img/gallery/desktop/sw-gallery-desktop-04@2x.png 2x
              "
            />
            <source
              srcset="
                /img/gallery/mobile/sw-gallery-mob-04.png    1x,
                /img/gallery/mobile/sw-gallery-mob-04@2x.png 2x
              "
            />
            <img
              src="/img/gallery/mobile/sw-gallery-mob-04.png"
              alt="Gallery Battle 4"
            />
          </picture>
        </div>
        <div class="swiper-slide gallery-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/gallery/desktop/sw-gallery-desktop-05.png    1x,
                /img/gallery/desktop/sw-gallery-desktop-05@2x.png 2x
              "
            />
            <source
              srcset="
                /img/gallery/mobile/sw-gallery-mob-05.png    1x,
                /img/gallery/mobile/sw-gallery-mob-05@2x.png 2x
              "
            />
            <img
              src="/img/gallery/mobile/sw-gallery-mob-05.png"
              alt="Gallery Battle 5"
            />
          </picture>
        </div>
      </div>
    </div>

    <!-- Контроли: стрілки + пагінація -->
    <div class="gallery-controls">
      <button type="button" class="gallery-prev"></button>
      <div class="gallery-pagination"></div>
      <button type="button" class="gallery-next"></button>
    </div>
  </div>
</section>
