<header class="header">
  <div class="container">
    <div class="wrapper">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="./privacy-policy.html">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./terms-conditions.html"
              >Terms & Conditions</a
            >
          </li>
        </ul>
      </nav>
      <div class="header__burger-wrapper">
        <button type="button" class="burger-btn" data-action="open">
          Open menu
        </button>
        <div class="burger-menu" data-visible="close">
          <ul>
            <li><a href="./privacy-policy.html">Privacy Policy</a></li>
            <li><a href="./terms-conditions.html">Terms & Conditions</a></li>
          </ul>
          <button type="button" class="btn-close" data-action="close">
            close
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
