<header class="header">
  <div class="container">
    <a href="/" class="logo-link">
      <picture>
        <source
          media="(max-width: 1439.98px)"
          type="image/png"
          srcset="
            ../public/img/logo-mobile.png    1x,
            ../public/img/logo-mobile@2x.png 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          type="image/png"
          srcset="
            ../public/img/logo-desctop.png    1x,
            ../public/img/logo-desctop@2x.png 2x
          "
        />
        <img
          class="logo-img"
          src="../public/img/logo-mobile.png"
          alt="Logo King Blast survival war"
          width="50"
          height="39"
        />
      </picture>
    </a>
    <button class="btn-burger" type="button" data-menu-open>
      <svg class="btn-burger-icon">
        <use href="../public/sprite.svg#burger-menu"></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="list-navigation">
        <li class="item-navigation"><a href="#">About</a></li>
        <li class="item-navigation"><a href="#">How to Play</a></li>
        <li class="item-navigation"><a href="#">Features</a></li>
        <li class="item-navigation"><a href="#">Why Download</a></li>
        <li class="item-navigation"><a href="#">Gallery</a></li>
        <li class="item-navigation"><a href="#">Reviews</a></li>
        <li class="item-navigation"><a href="#">FAQ</a></li>
        <li class="item-navigation"><a href="#">Contact</a></li>
      </ul>
    </nav>
    <!-- <div class="wrapper">

      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="./privacy-policy.html">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./terms-conditions.html"
              >Terms & Conditions</a
            >
          </li>
        </ul>
      </nav>
      <div class="header__burger-wrapper">
        <button type="button" class="burger-btn" data-action="open">
          Open menu
        </button>
        <div class="burger-menu" data-visible="close">
          <ul>
            <li><a href="./privacy-policy.html">Privacy Policy</a></li>
            <li><a href="./terms-conditions.html">Terms & Conditions</a></li>
          </ul>
          <button type="button" class="btn-close" data-action="close">
            close
          </button>
        </div>
      </div>
    </div> -->
  </div>
</header>
