<section class="reviews">
  <div class="container">
    <picture class="reviews-title-box">
      <source
        media="(max-width: 1439.98px)"
        type="image/png"
        srcset="
          /img/reviews/title-reviews-mob.png    1x,
          /img/reviews/title-reviews-mob@2x.png 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        type="image/png"
        srcset="
          /img/reviews/title-reviews-desktop.png    1x,
          /img/reviews/title-reviews-desktop@2x.png 2x
        "
      />
      <img
        src="/img/reviews/title-reviews-mob.png"
        srcset="/img/reviews/title-reviews-mob@2x.png"
        alt="The concrete letters are caked with zombie blood."
        class="reviews-title-img"
        loading="lazy"
      />
    </picture>
    <picture class="reviews-content-box">
      <source
        media="(max-width: 1439.98px)"
        type="image/png"
        srcset="
          /img/reviews/reviews-img-mob.png    1x,
          /img/reviews/reviews-img-mob@2x.png 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        type="image/png"
        srcset="
          /img/reviews/reviews-img-desktop.png    1x,
          /img/reviews/reviews-img-desktop@2x.png 2x
        "
      />
      <img
        src="/img/reviews/reviews-img-mob.png"
        srcset="/img/reviews/reviews-img-mob@2x.png"
        alt="Against a post-apocalyptic backdrop of gloomy, mist-shrouded urban ruins, a group of six paramilitary characters stands with a diverse arsenal ranging from a sniper rifle to a rocket launcher, notably featuring an armed nun with a Doberman, a woman in a white lab coat, and a girl in a traditional red Chinese dress."
        class="reviews-content-img"
        loading="lazy"
      />
    </picture>
    <p class="for-swiper-after-delete">This is place for SWIPER</p>
  </div>
</section>
